body, html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

.split-screen {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.left {
    flex: 1.2;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.logo {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

.tagline {
    font-size: 1.5 rem;
    opacity: 0.9;
}

.right {
    flex: 1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-box {
    width: 100%;
    max-width: 400px;
    padding: 40px;
}

.auth-box h2 {
    font-size: 1.8rem;
    margin-bottom: 25px;
    color: #333;
}

#login-form, #signupToggle {
    display: none;
}

.toggle-bar {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee
}

.toggle-btn {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    color: #888;
    transition: 0.3s;
}

#loginToggle:checked ~ .toggle-bar label[for="loginToggle"],
#signupToggle:checked ~ .toggle-bar label[for="signupToggle"] {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.form {
    display: none;
    flex-direction: column;
    gap: 15px;
}

#loginToggle:checked ~ .auth-forms .login-form {
    display: flex !important;
}

#signupToggle:checked ~ .auth-forms .signup-form {
    display: flex !important;
}

.input-field {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
}

.submit-btn {
    padding: 12px;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eee;
    z-index: 1;
}

.divider span {
    background: white;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    color: #888;
}

.google-btn {
    width: 100%;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}