{% load static %}
<a href="/">
    <img src="{% static 'images/SubLink Logo.svg' %}" alt="SubLink Logo" height="40">
</a>
<div class="nav-dropdown">
    <button class="dropbtn" onclick="toggleMenu()">Profile</button>
    <div id="dropdown-menu" class="dropdown-content">
      <a href="/myprofile">My Profile</a> 
      <a href="/editprofile">Edit Profile</a>
      <a href="/settings">Settings</a>
    </div>
</div>
<script>
  function toggleMenu() {
    document
      .getElementById("dropdown-menu")
      .classList.toggle("show");
  }
</script>