{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/component/set_card.css' %}">
{% endblock %}

<div class="set_card">
    <div class="info">
        <h4>{{title}}</h4>
        <i class="{{icon}}"></i>
        <ul>
            {% for desc in description %}
            <li>{{ desc }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <button id="{{ link }}" class="set_button">
            <p>{{ buttontxt }}</p>
        </button>
    </div>
</div>

<script>
  document.getElementById("{{ link }}").onclick = function () {
    window.location.href = "{{ link }}";
  };
</script>