{% load static %}
        <div class="footer__inner">
            <div class="footer__left">
                <p class="footer__brand">SubLink</p>
                <p class="footer__tagline">Start Here to Stop the Search</p>
            </div>
            {% if user.is_authenticated %}
            <div class="footer__right">
                <p class="footer__nav">Nav: 
                    {% if request.user.profile.user_type == 'renter' %}
                    <a href="{% url 'listings-explore-housing' %}">Home</a>
                    {% else %}
                    <a href="{% url 'roommates-explore' %}">Home</a>
                    {% endif %} 
                    <a href="/profile/preview/">Profile</a> 
                    <a href="/settings/">Settings</a></p>
                <p class="footer__credit">Made by Boston College Students</p>
            </div>
            {% endif %}
        </div>