{% load static %}
        <div class="footer__inner">
            <div class="footer__left">
                <p class="footer__brand">SubLink</p>
                <p class="footer__tagline">Start Here to Stop the Search</p>
                <p class="footer__contact">Contact Us - support.sublink@gmail.com</p>
                <p class="footer__legal">
                    <a href="#">Privacy</a> | <a href="#">Terms of Service</a> | <a href='#'>Contact</a>
                </p>
            </div>
            <div class="footer__right">
                <p class="footer__nav">Nav: 
                    <a href="/">Home</a> 
                    <a href="/profile/preview/">Profile</a> 
                    <a href="#">Settings</a></p>
                <p class="footer__credit">Made by Boston College Students</p>
            </div>
        </div>