i {
    font-size: 24px;
}

.declarations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    min-height: 240px;
}

.dec_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    min-width: 320px;
}