{% extends "base.html" %}
{% load static %}

{% block title %}
SubLink
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'landing_page/style.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="left">
        <h1 class = "logo">SubLink</h1>
        <p class = "tagline">Start Here to Stop the Search</p>
    </div>

    <div class="right">

    <div class = "auth-box">
        <h2>Your next home awaits...</h2>
      
        <div class="toggle">
            <button id="loginBtn" class = "active">Log In</button>
            <button id="signupBtn">Sign Up</button>
        </div>

        <form>

            <label>Email Address</label>
            <input type="email" name="email">

            <label>Password</label>
            <input type="password" name="password">

            <button type="submit">Log In</button>

        </form>

        <div class = "divider">
            <span>or</span>
        </div>

        <a href="/accounts/google/login/">
            <button>Log in with Google</button>
        </a>
        
    </div>

    </div>

</div>

<script>

const loginBtn = document.getElementById("loginBtn");
const signupBtn = document.getElementById("signupBtn");
const submitBtn = document.querySelector(".submit-btn");

loginBtn.onclick = function(){
    loginBtn.classList.add("active");
    signupBtn.classList.remove("active");
    submitBtn.innerText = "Log In";
}

signupBtn.onclick = function(){
    signupBtn.classList.add("active");
    loginBtn.classList.remove("active");
    submitBtn.innerText = "Sign Up";
}

</script>

{% endblock %}